<% @video.questions.each do |question| %>
  <% if question.question_type == 'open' %>
      <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title"><h3>Edit Open Question - <span class="added_at"></span></h3></div>
        <div class="question_form_container">
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
        <div id="open_question_textfield">
            <p>Ask an open-ended question — viewers can respond with anything they'd like.</p>
            <%= text_area_tag "question_title", question.question_label, style: "height:240px;" %>
            <span class="open_error error"></span>
        </div>
        <div id="submit_actions">
            <%= link_to 'Cancel', 'javascript:void(0);' , class: 'btn remove_edit_popup btn-default video_overlay_off',role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
        </div>
        <% end %>
        </div>
      </div>
  <% end %>
  
  <% if question.question_type == 'quiz' || question.question_type == 'poll' %>
      <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
	<div id="video_title"><h3>Edit <%= (question.question_type == 'quiz')? 'Quiz' : 'Poll' %> Question - <span class="added_at"></span></h3></div>
        <div class="question_form_container">
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
	<div id="quiz_question_textfield">
            <%= text_area_tag "question_title", question.question_label%>
            <span class="quiz_error error"></span>
	</div>
          
	<div id="quiz_question_choices" class="quiz_question_choices">
          <div class="radio_btns">
            <span class="radio-sprite"></span>
            <%= text_field_tag 'choice_1', question.choice_1 %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_2', question.choice_2 %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_3', question.choice_3 %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_4' , question.choice_4%>
          </div>
	</div>
	<div id="submit_actions">
            <%= link_to 'Cancel', 'javascript:void(0);' , class: 'btn remove_edit_popup btn-default video_overlay_off', role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
        </div>
    </div>

  <% end %>

 <% if question.question_type == 'email' %>
    <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title"><h3>Edit Collect Email at - <span class="added_at"></span></h3></div>
      <div class="question_form_container" style="height: 300px;">  
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
	<div id="email_question_textfield">
          <p>Text on the popup box to prompt user to enter name and email address</p>
          <%= text_area_tag "question_title", question.question_label %>
          <span class="email_error error"></span>
        </div>
        <p>Button Label- if left blank, will read 'Continue'</p>
        <%= text_field_tag "button_text", question.button_text, style: "margin:13px" %>
	<div id="submit_actions" style="margin-top:60px;">
            <%= link_to 'Cancel', 'javascript:void(0);' , class: 'btn remove_edit_popup btn-default video_overlay_off', role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
      </div>
    </div>
 <% end %>

<% if question.question_type == 'cta' %>
    <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title"><h3>Edit Call to Action at - <span class="added_at"></span></h3></div>
      <div class="question_form_container" style="height: 300px;">  
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
	<div id="email_question_textfield">
          <p>Text on the popup box to prompt user.</p>
          <%= text_area_tag "question_title", question.question_label, style: "height:80px;" %>
          <span class="cta_error error">&nbsp;</span>
        </div>
        <%= text_field_tag "btn_url", question.btn_url,style: "margin:4px 15px"%>
        
        <p>Button Label- if left blank, will read 'Continue'</p>
        <%= text_field_tag "button_text", question.button_text, style: "margin:13px 15px" %>
	<div id="submit_actions" style="margin-top:20px;">
            <%= link_to 'Cancel', 'javascript:void(0);' , class: 'btn remove_edit_popup btn-default video_overlay_off', role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
      </div>
    </div>
 <% end %>

<% if question.question_type == 'password' %>
    <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title"><h3>Edit Password Gate at - <span class="added_at"></span></h3></div>
      <div class="question_form_container" style="height: 300px;">  
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
	<div id="email_question_textfield">
          <p>Text on the popup box to prompt user to enter a password to continue</p>
          <%= text_area_tag "question_title", question.question_label, style: "height:75px;margin:7px 14px 5px;" %>
          <span class="password_error error"></span>
        </div>
        <p style="margin:8px 14px;">Password- Enter the 'password' that will continue the video</p>
        <%= text_field_tag "choice_1", question.choice_1, style: "margin:0px 13px" %>
        
        <p style="margin:8px 14px;">Button Label- if left blank, will read 'Continue'</p>
        <%= text_field_tag "button_text", question.button_text, style: "margin:0px 13px" %>
	<div id="submit_actions" style="margin-top:40px;">
            <%= link_to 'Cancel', 'javascript:void(0);' , class: 'btn remove_edit_popup btn-default video_overlay_off', role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
      </div>
    </div>
 <% end %>

<%  end %>