<div class="hover-actions-header">
  <span class="bold">Add Interaction</span>
  <span id="time" interaction-offset="45"></span>
</div>
<div class="hover-actions-list-container">
  <ul class="hover-actions-list">
    <li>
      <span class="list-icon"><%= image_tag 'text.png' %></span>
      <%= link_to "Open Question",'javascript:void(0);',  id: 'open_question'%>
    </li>
    <li style="float:left; ">
      <span class="list-icon"><%= image_tag 'question.png' %></span>
      <%= link_to "Quiz", 'javascript:void(0);', id: 'quiz_question'%>
    </li>
    <li>
      <span class="list-icon"><%= image_tag 'cta.png' %></span>
      <%= link_to "Call to Action"%>
    </li>
    <li>
      <span class="list-icon poll"><%= image_tag 'question.png' %><%#= image_tag 'poll.png' %></span>
      <%= link_to "Poll" , 'javascript:void(0);',  id: 'poll_question'%>
    </li>
    <li>
      <span class="list-icon"><%= image_tag 'question.png' %></span>
      <%= link_to "Collect Email",'javascript:void(0);' , id: 'email_question' %>
    </li>
    <li>
      <span class="list-icon"><%= image_tag 'question.png' %></span>
      <%= link_to "Password Gate"%>
    </li>
  </ul>
</div>