<div class="password_questions question-style" style="display:none;">
   <div id="video_title"><h3>Password Gate at - <span class="added_at"></span></h3></div> 
   <div class="question_form_container">
    <%= form_tag('/questions', remote: true, id: 'password_question_form') do %>
     <div id="email_question_textfield">
       <p>Text on the popup box to prompt user to enter a password to continue</p>
       <%= hidden_field_tag 'video_id', @video.id %>
       <%= hidden_field_tag :interaction_at, 0, {:id => 'password_interaction_at'}%>
       <%= hidden_field_tag :interaction_at_offset, 0, {:id => 'password_interaction_at_offset'}%>
       <%= hidden_field_tag 'question_type', "password" %>
       <%= text_area_tag "question_title", "", style: "height:55px;margin:7px 14px 5px;" %>
       <span class="password_error error"></span>
       <p style="margin:8px 14px;">Password- Enter the 'password' that will continue the video</p>
       <%= text_field_tag "choice_1", "", style: "margin:0px 13px" %>
        <!-- <div id="email_button"> -->
        <p style="margin:8px 14px;">Button Label- if left blank, will read 'Continue'</p>
        <%= text_field_tag "button_text", "", style: "margin:0px 13px 15px;" %>
        <!-- </div> -->
     </div>
       
     <div id="submit_actions" style="margin-top:40px;">
          <%= link_to 'Cancel', 'javascript:void(0);' , class: 'btn remove_popup btn-default video_overlay_off' %>
          <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small video_overlay_off'%>
      </div>
    <% end %>
   </div> 
</div>