<div id="fresh_question">
<%= render 'questions/open_question' %>
<%= render 'questions/quiz_question' %>
<%= render 'questions/poll_question' %>
<%= render 'questions/email_question' %>
</div>  
<div id="edit_questions"><%= render 'questions/edit_questions' %></div>