<div class="open_questions question-style" style="display:none;">
  <div id="video_title"><h3>Add a Question at - <span class="added_at"></span></h3></div>
   <div class="question_form_container">  
  <%= form_tag('/questions', remote: true, id: 'open_question_form') do %>
  <div id="open_question_textfield">
    <p>Ask an open-ended question — viewers can respond with anything they'd like.</p>
    <%= hidden_field_tag 'video_id', @video.id %>
    <%= hidden_field_tag :interaction_at, 0, {:id => 'open_interaction_at'}%>
    <%= hidden_field_tag :interaction_at_offset, 0, {:id => 'open_interaction_at_offset'}%>
    <%= hidden_field_tag 'question_type', "open" %>
    <%= hidden_field_tag 'player_time' %>
    <%= text_area_tag "question_title", "", placeholder: "Question here", style: "height:256px;"%>
    <span class="open_error error"></span>
  </div>
  <div id="submit_actions">
      <%= link_to 'Cancel', '#' , class: 'btn remove_popup btn-default' %>
      <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
  </div>
  <% end %>
  </div>   
</div>
<div class="quiz_questions question-style" style="display:none;">
  <div id="video_title"><h3>Add a Quiz at - <span class="added_at"></span></h3></div>
  <div class="question_form_container">
        <%= form_tag('/questions', remote: true, id: 'open_question_form') do %>
	<div id="quiz_question_textfield">
            <%= hidden_field_tag 'video_id', @video.id %>
            <%= hidden_field_tag :interaction_at, 0, {:id => 'quiz_interaction_at'}%>
            <%= hidden_field_tag :interaction_at_offset, 0, {:id => 'quiz_interaction_at_offset'}%>
            <%= hidden_field_tag 'question_type', "quiz" %>
            <%= text_area_tag "question_title", "", placeholder: "Question here"%>
            <span class="quiz_error error"></span>
	</div>
        <div id="quiz_question_choices" class="quiz_question_choices">
          <div class="radio_btns">
            <span class="radio-sprite"></span>
            <%= text_field_tag 'choice_1', "", placeholder: "Choice 1" %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_2', "", placeholder: "Choice 2" %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_3', "", placeholder: "Choice 3" %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_4' , "", placeholder: "Choice 4"%>
          </div>
	</div>
	<div id="submit_actions">
            <%= link_to 'Cancel', '#' , class: 'btn remove_popup btn-default' %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
    </div>
  
</div>

<div class="poll_questions question-style" style="display:none;">
    <div id="video_title"><h3>Add a poll at - <span class="added_at"></span></h3></div>
    <div class="question_form_container">
    <%= form_tag('/questions', remote: true, id: 'open_question_form') do %>
      <div id="poll_question_textfield">  
        <%= hidden_field_tag 'video_id', @video.id %>
        <%= hidden_field_tag :interaction_at, 0, {:id => 'poll_interaction_at'}%>
        <%= hidden_field_tag :interaction_at_offset, 0, {:id => 'poll_interaction_at_offset'}%>

        <%= hidden_field_tag 'question_type', "poll" %>
        <%= text_area_tag "question_title", "", placeholder: "Poll Question Here"%>
        <span class="poll_error error"></span>
      </div>
      <div id="quiz_question_choices" class="quiz_question_choices">
          <div class="radio_btns">
            <span class="radio-sprite"></span>
            <%= text_field_tag 'choice_1', "", placeholder: "Choice 1" %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_2', "", placeholder: "Choice 2" %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_3', "", placeholder: "Choice 3" %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_4' , "", placeholder: "Choice 4"%>
          </div>
      </div>
      <div id="submit_actions">
          <%= link_to 'Cancel', '#' , class: 'btn remove_popup btn-default' %>
          <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
      </div>
    <% end %>
    </div>   
</div>

<div class="email_questions question-style" style="display:none;">
   <div id="video_title"><h3>Collect Email a - <span class="added_at"></span></h3></div> 
   <div class="question_form_container">
    <%= form_tag('/questions', remote: true, id: 'open_question_form') do %>
     <div id="email_question_textfield">
       <p>Text on the popup box to prompt user to enter name and email address</p>
       <%= hidden_field_tag 'video_id', @video.id %>
       <%= hidden_field_tag :interaction_at, 0, {:id => 'email_interaction_at'}%>
       <%= hidden_field_tag :interaction_at_offset, 0, {:id => 'email_interaction_at_offset'}%>
       <%= hidden_field_tag 'question_type', "email" %>
       <%= text_area_tag "question_title", "" %>
       <span class="email_error error"></span>
        <!-- <div id="email_button"> -->
        <p>Button Label- if left blank, will read 'Continue'</p>
        <%= text_field_tag "button_text", "", style: "margin:13px" %>
        <!-- </div> -->
     </div>
       
     <div id="submit_actions" style="margin-top:60px;">
          <%= link_to 'Cancel', '#' , class: 'btn remove_popup btn-default' %>
          <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
      </div>
    <% end %>
   </div> 
</div>

<% @video.questions.each do |question| %>
  
  <% if question.question_type == 'open' %>
      <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title"><h3>Edit Open Question - <span class="added_at"></span></h3></div>
        <div class="question_form_container">
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
        <div id="open_question_textfield">
            <p>Ask an open-ended question — viewers can respond with anything they'd like.</p>
            <%= text_area_tag "question_title", question.question_label, style: "height:256px;" %>
            <span class="open_error error"></span>
        </div>
        <div id="submit_actions">
            <%= link_to 'Cancel', '#' , class: 'btn remove_edit_popup btn-default',role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
        </div>
        <% end %>
        </div>
      </div>
  <% end %>
  
  <% if question.question_type == 'quiz' || question.question_type == 'poll' %>
      <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
	<div id="video_title"><h3>Edit <%= (question.question_type == 'quiz')? 'Quiz' : 'Poll' %> Question - <span class="added_at"></span></h3></div>
        <div class="question_form_container">
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
	<div id="quiz_question_textfield">
            <%= text_area_tag "question_title", question.question_label%>
            <span class="quiz_error error"></span>
	</div>
          
	<div id="quiz_question_choices" class="quiz_question_choices">
          <div class="radio_btns">
            <span class="radio-sprite"></span>
            <%= text_field_tag 'choice_1', question.choice_1 %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_2', question.choice_2 %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_3', question.choice_3 %>
          </div>
          <div class="radio_btns">
            <span class="radio-sprite"></span><%= text_field_tag 'choice_4' , question.choice_4%>
          </div>
	</div>
	<div id="submit_actions">
            <%= link_to 'Cancel', '#' , class: 'btn remove_edit_popup btn-default', role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
        </div>
    </div>

  <% end %>

 <% if question.question_type == 'email' %>
    <div class="question question-style" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title"><h3>Collect Email a - <span class="added_at"></span></h3></div>
      <div class="question_form_container" style="height: 300px;">  
        <%= form_tag question_path(question), :method => :put , :remote => true do |f| %>
	<div id="email_question_textfield">
          <p>Text on the popup box to prompt user to enter name and email address</p>
          <%= text_area_tag "question_title", question.question_label %>
          <span class="email_error error"></span>
        </div>
        <p>Button Label- if left blank, will read 'Continue'</p>
        <%= text_field_tag "button_text", question.button_text, style: "margin:13px" %>
	<div id="submit_actions" style="margin-top:60px;">
            <%= link_to 'Cancel', '#' , class: 'btn remove_edit_popup btn-default', role: "question_#{question.id}" %>
            <%= submit_tag 'Save', class: 'btn save_interaction btn-primary btn-small'%>
	</div>
	<% end %>
      </div>
    </div>
 <% end %>

<%  end %>