<% @video.questions.each do |question| %>
  <% if question.question_type == 'open' %>
      <div class="share_question" id="question_<%= question.id %>" style="display:none;">
      <div id="video_title" style="border-bottom: 1px solid black">
          <span class="bold"><%= question.question_label %></span>
      </div>
      <%= form_tag question_path(question), :method => :post , :remote => true do |f| %>
      <div id="open_question_textfield" style="margin:30px;">
          <%= text_area_tag "response","", size: "100x10" %>
      </div>
      <div id="submit_actions" style="float:right">
          <%= link_to 'Skip', '#' , class: 'secondary-link close-interaction', role: "question_#{question.id}" %>
          <%= submit_tag 'Continue', class: 'btn btn-sm btn-primary'%>
      </div>
      <% end %>
      </div>
  <% end %>
  
  <% if question.question_type == 'quiz' %>
      <div class="share_question" id="question_<%= question.id %>" style="display:none;">
        <div id="video_title" style="border-bottom: 1px solid black">
            <span class="bold"><%= question.question_label %></span>
        </div>
	<%= form_tag question_path(question), :method => :post , :remote => true do |f| %>
	<div id="quiz_question_choices">
           	<ul class="radio_btns">
                  <li><%= radio_button_tag 'quiz_choice', question.choice_1 %></li>
                  <li><%= radio_button_tag 'quiz_choice', question.choice_2 %></li>
                  <li><%= radio_button_tag 'quiz_choice', question.choice_3 %></li>
                  <li><%= radio_button_tag 'quiz_choice', question.choice_4 %></li>
		</ul>
	</div>
	<div id="submit_actions" style="float:right">
          <%= link_to 'Skip', '#' , class: 'secondary-link close-interaction', role: "question_#{question.id}" %>
          <%= submit_tag 'Continue', class: 'btn btn-sm btn-primary'%>
	</div>
	<% end %>
    </div>

  <% end %>

  <% if question.question_type == 'poll' %>
      <div class="share_question" id="question_<%= question.id %>" style="display:none;">
        <div id="video_title" style="border-bottom: 1px solid black">
            <span class="bold"><%= question.question_label %></span>
        </div>
	<%= form_tag question_path(question), :method => :post , :remote => true do |f| %>
	<div id="quiz_question_choices">
           	<ul class="radio_btns">
                  <li><%= radio_button_tag 'quiz_choice', question.choice_1 %></li>
                  <li><%= radio_button_tag 'quiz_choice', question.choice_2 %></li>
                  <li><%= radio_button_tag 'quiz_choice', question.choice_3 %></li>
                  <li><%= radio_button_tag 'quiz_choice', question.choice_4 %></li>
		</ul>
	</div>
	<div id="submit_actions" style="float:right">
          <%= link_to 'Skip', '#' , class: 'secondary-link close-interaction', role: "question_#{question.id}" %>
          <%= submit_tag 'Continue', class: 'btn btn-sm btn-primary'%>
	</div>
	<% end %>
    </div>
  <% end %>
  
 <% if question.question_type == 'email' %>
    <div class="question" id="question_<%= question.id %>" style="display:none;">
	<div id="video_title" style="border-bottom: 1px solid black">
            <span class="bold"><%= question.question_label %></span>
        </div>
        <%= form_tag question_path(question), :method => :post , :remote => true do |f| %>
	<div>
            <%= text_area_tag "email_quest_name", "" , size: "100x3"%>
        </div>
        <div>
            <%= text_area_tag "email_quest_email", "" , size: "100x3"%>
        </div>
	<div id="email_button" style="margin:20px;">
          <%= text_field_tag "button_text", question.button_text, size: "100x2" %>
	</div>
	<div id="submit_actions" style="float:right">
              <%= link_to 'Cancel', '#' , class: 'btn_cancel remove_edit_popup', role: "question_#{question.id}" %>
              <% btn_name = (question.button_text.present?) ? question.button_text  : 'Continue' %>
              <%= submit_tag "#{btn_name}", class: 'btn btn-sm btn-primary'%>
	</div>
	<% end %>
    </div>
 <% end %>

<%  end %>