<div class="right_video" style="width:700px;text-align: center;margin:50px;">
  <div class= "yt_video_title_div"><h1 id="yt_video_title"></h1></div>
      <div id="player"></div>

      <div class="n_p_video_progressbar">
        <div id="progressBar" class="progress-bar-interaction" style="width:700px;">
          <div id="progessbarspot"></div>
        </div>
        <% @video.questions.each do |q|
               if q.interaction
                 interaction = q.interaction.interaction_at_offset
                 interaction_at = q.interaction.interaction_at
                 bar_origanal_width_during_interaction = 800
                 spot_quest_position = ((interaction.to_f/bar_origanal_width_during_interaction) * 100).round
             %> 
             <div class="spot_question" id="spot_question_<%=q.id%>_<%= interaction_at %>_<%= interaction %>" style="left:<%= spot_quest_position.to_s+"%" %>;"></div>
             <% 
               end 
             end
           %>
      </div>     
</div>  
<%= render 'share_questions' %>
  

<% content_for :javascript_bottom do %> 
  <% if @video_type == "youtube" %>  
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag 'video' %>
  <% else %>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_embed wistia_async_abcde12345" style="width:640px;height:360px;"></div>
      <script type="text/javascript">
            window._wq = window._wq || [];
            _wq.push({ id: "<%= @video_id %>", onReady: function(video) {
            console.log("I got a handle to the video!", video);
            }});
      </script>
  <% end %>
 <script type="text/javascript">
  var videoID = '<%= @video_id  %>';
  $("#time").html(formatTime(5));
  area.width = 700;
  area.height = 400;
  playerOption.showinfo = 0;
  playerOption.autoplay = 1;
  playerOption.controls = 0;
 </script>
 <%= javascript_include_tag 'share_question' %>
<% end %>

