<%
width = '640px';
height = '390px';
%>
<div class="right_video" style="width:<%= width %>;text-align: center;margin:50px;">
  <div class="right_video_overlay" style="display:none;width:<%= width %>;height: <%= height %>;top:75px;"></div>
        
  <div class= "yt_video_title_div"><h1 id="yt_video_title"></h1></div>
      <% if @video.video_type == "youtube"%>
          <div id="player"></div>
      <% else %>
        <div class="wistia_embed wistia_async_<%= @video_id %>"  ></div>
      <% end %>
      <div class="n_p_video_progressbar">
        <div id="progressBar" class="progress-bar-interaction show_embed_bar" style="width:<%= width %>;">
          <div id="progessbarspot"></div>
        </div>
        <%= render 'questions/spot_bar', page: 'share' %>
        <%= render 'questions/share_questions' %>  
      </div>     
</div>  
<%#= render 'share_questions' %>
  

<% content_for :javascript_bottom do %> 
 <script type="text/javascript">
  var videoID = '<%= @video_id %>';
 </script>
 <% if @video.video_type == "youtube" %>  
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag 'video' %>
    <%= javascript_include_tag 'youtube_question' %>
  <% else %>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>  
      <%= javascript_include_tag 'wistia' %>
      <%= javascript_include_tag 'wistia_question' %>
      
  <% end %>
 <script type="text/javascript">
  $("#time").html(formatTime(5));
  area.width = '<%= width %>';
  area.height = '<%= height %>';
  playerOption.showinfo = 0;
  playerOption.autoplay = 1;
  playerOption.controls = 0;
 </script>
<% end %>

