<div class="video_lists">
  <h1>My Videos</h1>
  <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><strong><%= value %></strong></div>   
  <% end %>
     
  <div class="parent">
    <% @videos.each do |video| %>
      <% video_id = video.video_link.split('?v=').last %>
        <div class="child">
          <div style="height:215px;float: left">
            <%= link_to image_tag("https://img.youtube.com/vi/#{video_id}/mqdefault.jpg") , video_path(slug: video.slug), target: '_blank' %>
              <p style="font-size: 12px;text-align: left;margin-top: 10px;">0 Responses</p></div>
              <div style="position:absolute;margin-top:214px"><%= link_to "View Responses",'', class: 'btn btn-primary btn-small' %></div>
              <div class="btns" style="position:absolute;margin:214px"><%= link_to "Download csv",'', class: 'btn btn-primary btn-small'%></div> 
          </div>
        
      
    <% end %>
  </div>
<br>

<%#= link_to 'New Video', new_video_path %>
