<%

width = '980px';
height = '550px';
ywidth = '978px';
%>
<div class="right_video" style="width:<%= width %>;text-align: center;margin:50px;">
  <div class="right_video_overlay" style="display:none;width:<%= width %>;height: <%= height %>;top:75px;"></div>
        
  <div class= "yt_video_title_div"><h1 id="yt_video_title"></h1></div>
      <% if @video_type == "youtube"%>
          <div id="player"></div>
      <% else %>
        <div class="wistia_embed wistia_async_<%= @video_id %>" style="width:<%= width %>;height: <%= height %>"></div>
      <% end %>
      <div class="n_p_video_progressbar">
        <div id="progressBar" class="progress-bar-interaction" style="width:<%= width %>;">
          <div id="progessbarspot"></div>
        </div>
        <%= render 'questions/spot_bar', page: 'share' %>
        <%= render 'questions/share_questions' %>  
      </div>     
</div>  
<%#= render 'share_questions' %>
  

<% content_for :javascript_bottom do %> 
  <% if @video_type == "youtube" %>  
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag 'video' %>
  <% else %>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
      <script type="text/javascript">
            window._wq = window._wq || [];
            _wq.push({ id: "<%= @video_id %>", onReady: function(video) {

              video.bind('play', function() {
               // $('#progressBar').show();
              video.time(10);
              //return video.unbind;
            }});
      </script>
  <% end %>
 <script type="text/javascript">
  var videoID = '<%= @video_id  %>';
  $("#time").html(formatTime(5));
  area.width = '<%= ywidth %>';
  area.height = '<%= height %>';
  playerOption.showinfo = 0;
  playerOption.autoplay = 1;
  playerOption.controls = 0;
 </script>
 <%= javascript_include_tag 'share_question' %>
<% end %>

