<div class= "left_share_link">
<% iframe = "<iframe src='#{request.url+"/embed"}' allowtransparency='true' frameborder='0' scrolling='no' width='640' height='390'></iframe>" %>
<%= label_tag "Share Link"%><br>
<%= text_field_tag "share_link", request.url+"/share", size:"40" %>
<br>
<%= label_tag "Embeded Code" %><br>
<%= text_area_tag "embeded_code" , iframe, size:"40x4"	 %><br>
<%= label_tag "Video Timeline Actions"%><br>
<div id="video_time_line">
    <%= render 'video_time_line' %>
</div>
<br>
<%= link_to 'Delete Video', video_path(@video), data: {:confirm => 'Are you sure?'}, :method => :delete, :style=>"text-decoration:underline" %>
</div>
<div class="left_container">
  <div class= "yt_video_title_div" style="width:720px;">
  <h1 id="yt_video_title"></h1>
</div>  
<div class="preview_link" style="float:right;margin-top:-53px;width:80px;">
      <%= link_to "Preview" , video_share_link_path(slug: @video.slug), target: '_blank', class: 'btn btn-primary btn-small'%>
  </div>  
<div class="right_video">
  <div class="right_video_overlay" style="display:none;"></div>
      <% if @video.video_type == "youtube"%>
          <div id="player"></div>
      <% else %>
        <div class="wistia_embed wistia_async_<%= @video_id %>"></div>
      <% end %>
      <div class="n_p_video_progressbar">
        <div id="progressBar" class="progress-bar-interaction">
          <div id="progessbarspot"></div>
        </div>
        <div id="spot_questtion_bar">
          <%= render 'questions/spot_bar', page: 'show' %>
        </div>     
        <div class="move_cursor" style="display:none;"></div>
        <div class="moveAble">
          <div class="hover_actions" id="interaction_items" style="display:none;">
            <%= render 'questions/interaction_questions_list'%>
          </div>
          
          <!--- spot question container -->
          <div class="spot_question_action" id="spot_interaction_items" style="display:none;">
            <%= render 'questions/question_action_list' %>
          </div>
          <!-- spot question container ends here -->
          
       </div>
       <!-- moveAble ends here -->
      <%= render 'questions/questions' %>       
      </div>     
</div>  
</div>


<% content_for :javascript_bottom do %> 
 <script type="text/javascript">
  var videoID = '<%= @video_id %>';
 </script>
 <% if @video.video_type == "youtube" %>  
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag 'video' %>
  <% else %>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>  
      <%= javascript_include_tag 'wistia' %>
  <% end %>
  <%= javascript_include_tag 'question' %>    
<script type="text/javascript">
  $("#time").html(formatTime(5));
  area.width = 798;
  area.height = 450;
  playerOption.showinfo = 0;
  playerOption.autoplay = 1;
  playerOption.controls = 0;
 </script>
  
<% end %>