<div class= "left_share_link">
<% iframe = "<iframe src='#{request.url+"/embed"}' allowtransparency='true' frameborder='0' scrolling='no' width='640' height='390'></iframe>" %>
<%= label_tag "Share Link"%><br>
<%= text_field_tag "share_link", request.url+"/share", size:"40" %>
<br>
<%= label_tag "Embeded Code" %><br>
<%= text_area_tag "embeded_code" , iframe, size:"40x4"	 %><br>
<%= label_tag "Video Timeline Actions"%><br>
<div id="video_time_line">
    <%= render 'video_time_line' %>
</div>
<br>
<%= link_to 'Delete Video', video_path(@video), data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
<div class="left_container">
  <div class= "yt_video_title_div" style="width:760px;">
  <h1 id="yt_video_title"></h1>
  <div class="preview_link" style="float:right;margin:-53px 40px;width:0px;">
      <%= link_to "Preview" , video_share_link_path(slug: @video.slug), target: '_blank', class: 'btn btn-primary btn-small'%>
  </div>
</div>  
<div class="right_video">
  <div class="right_video_overlay" style="display:none;"></div>
      <% if @video_type == "youtube"%>
          <div id="player"></div>
      <% else %>
        <div class="wistia_embed wistia_async_<%= @video_id %>" style="width:798px;height:400px"></div>
      <% end %>
      <div class="n_p_video_progressbar">
        <div id="progressBar" class="progress-bar-interaction">
          <div id="progessbarspot"></div>
        </div>
        <div id="spot_questtion_bar">
          <%= render 'questions/spot_bar', page: 'show' %>
        </div>     
        <div class="moveAble">
          <div class="move_cursor"></div>
          <div class="hover_actions" id="interaction_items">
            <%= render 'questions/interaction_questions_list'%>
          </div>
          
          <!--- spot question container -->
          <div class="spot_question_action" id="spot_interaction_items" style="display:none;">
            <%= render 'questions/question_action_list' %>
          </div>
          <!-- spot question container ends here -->
          
       </div>
       <!-- moveAble ends here -->
             
      </div>     
</div>  
</div>
<%= render 'questions/questions' %>


<% content_for :javascript_bottom do %> 
  <% if @video_type == "youtube" %>  
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag 'video' %>
  <% else %>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
      <script type="text/javascript">
            window._wq = window._wq || [];
            _wq.push({ id: "<%= @video_id %>", onReady: function(video) {

              video.bind('play', function() {
               // $('#progressBar').show();
              video.time(10);
              //return video.unbind;
            }});
      </script>
  <% end %>
 <script type="text/javascript">
  var videoID = '<%= @video_id %>';
  $("#time").html(formatTime(5));
 </script>
 <%= javascript_include_tag 'question' %>
<% end %>